apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
   name: aws-secrets
spec:
  provider: aws
  parameters:
    region: us-east-1
    objects: |
        - objectName: "dbcredentials"
          objectType: "secretsmanager"